# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

# Agora Project AppId & AppCertificate.
# see: https://docs.agora.io/en/Agora%20Platform/token#a-name--appidause-an-app-id-for-authentication
AGORA_APP_ID=970ca35de60c44645bbae8a215061b33
AGORA_APP_CERTIFICATE=5cfd2fd1755d40ecb72977518be15d3b

# Agora CustomerId & CustomerSecret.
# see: https://docs.agora.io/en/faq/restful_authentication#implementation
AGORA_RESTFUL_API_CUSTOMER_ID=sampleapikey
AGORA_RESTFUL_API_CUSTOMER_SECRET=sampleapisecretkey

# AWS AccessKey & SecretKey for uploading recording video file to AWS S3.
AGORA_RECORDING_AWS_ACCESS_TOKEN=sampleaccesskey
AGORA_RECORDING_AWS_SECRET_TOKEN=samplesecretkey

# AWS S3 bucket name for uploading recording file.
AGORA_RECORDING_AWS_S3_BUCKET_NAME=agora-recording-bucket-sample
